<h2> Chef <%= @person.name %>'s Recipes</h2>

  <% @person.recipes.each do |recipe| %>  <br>
  <h2><%= recipe.dish %><br></h2>
  <p> <%= image_tag @recipe.image.url if @recipe.image %></p>
  <%= recipe.ingredients %><br>
  <%= recipe.directions %>
  <% end %>
