<h1> Ada's Kitchen </h1>

<h2> Dish </h2>
<table>
  <td>
  <tr>
    <% @recipes.each do |recipe| %>
      <%= link_to recipe.dish, "/recipes/#{recipe.id}" %> <br>
    <% end %>
  </tr>
  </td>
</table>

<%= form_for Recipe.new do |f| %>
  <fieldset>
    <legend> Add a New Recipe </legend>
    <%= f.label :dish %>
    <%= f.text_field :dish %>
    <br>
    <%= f.label :ingredients %>
    <%= f.text_area :ingredients %>
    <br>
    <%= f.label :directions %>
    <%= f.text_area :directions %>
    <br>
    <%= f.label :person_id, "Submitted by:" %>
    <%= f.collection_select(:person_id, Person.all, :id, :name, prompt: "Your Name") %>
    <br>
  </fieldset>
  <%= submit_tag "Create Recipe" %>
<% end %>
