<h2><%= @recipe.person.name %>'s <%= @recipe.dish %></h2>
  Ingredients: <%= @recipe.ingredients %> <br>
  Directions: <%= @recipe.directions %>
  <h3><%= link_to "BACK TO RECIPES", "/recipes/home" %> </h3>
  <h3><%= link_to "EDIT RECIPE", "/recipes/#{@recipe.id}/edit" %> </h3>
  <h3><%= link_to "DELETE RECIPE",  { action: :destroy, id: @recipe.id }, method: :delete, data: { confirm: 'Delete Recipe, For Real?' } %> </h3><br>
