<%= form_for @person, :html => {:multipart => true}, url:{ action: @action } do |f| %>
  <h1> <%= @title %></h1>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.submit "Submit" %>
<% end %>
